#control-plane {
}

#controller-HA {
    .diagrams {
        width: 40%;
    }

    img.cluster {
        //margin-right: 0;
    }

    > ul {
        width: 55%;
        font-size: 1.2em;
    }

    h2 {
        font-size: 38pt;
    }

    .stamp {
        left: 6%;
        top: 0%;
        height: 60%;
        text-align: center;
        p {
            margin-bottom: 0em;
        }

        .mostly {
            line-height: 0.7em;
            font-family: inherit;
            font-size: 0.5em;
        }
    }
}

#compute-failure {
    h2 {
        position: relative;
        top: -30px;
    }

    img {
        position: absolute;
    }

    img.arch {
        width: 70%;
        left: 7%;
        top: 8%
    }

    img.bang {
        height: 32%;
        left: 55%;
        top: 36%;
    }
}
