// Styling for normal slides

.normal .reveal {
    $strip-x-offset: 2.5;
    $strip-width: 100% - (2 * $strip-x-offset);

    .slides {
        $strip-height: 4%;
        $y-offset: (100% - $strip-height) * 100% / (100% - $strip-height);
        background:
            url(../images/SUSE/green-strip.png)
                50% #{$y-offset}      // x/y positions
              / $strip-width $strip-height  // x/y sizes
                no-repeat;

        text-align: inherit;

        > section {
            width: 100% - 2 * $section-left-margin;
        }

        h1 {
            margin-bottom: 0.8em;
        }

        h2 {
            margin-bottom: 0.8em;
        }

        p {
            margin-bottom: 0.4em;
        }

        li > p {
            margin-bottom: 0;
        }

        img.full-slide {
            width: 80%;
            max-width: 80%;
            max-height: 80%;
        }
    }

    .slide-number {
        left: 0;
        bottom: 0;
        width: $strip-width;
        margin-left: $strip-x-offset + 2%;
        font-size: 7pt;
        background-color: transparent;
        color: black;
        span {
            font-size: 3em;
        }
    }
}
