.reveal .slides {
    .diagram-and-list {
        .diagrams {
            width: 45%;
            float: left;

            img {
                margin: 5% auto;
                display: block;
                width: 400px;
            }
        }

        > ul {
            width: 50%;
            font-size: 38pt;
        }
    }

    @import '_HA-today';

    .contact-info {
        position: absolute;
        top: 80%;
        font-size: 18pt;

        address {
            float: left;
            padding: 0 30px;
            margin:  0 30px;
            height: 110px;
            border-left: solid 1px grey;
        }
    }

    .call-to-action {
        position: relative;
        top: 10%;
        height: 80%;

        h2 {
            font-size: 1.7em;
        }

        .inside {
            font-weight: normal;
            position: absolute;
            top: 10%;
            left: 5%;
            width: 70%;
            padding: 5% 10%;
            background-color: $light-neutral;
        }

        .outside {
            position: absolute;
            top: 80%;
            left: 8%;
        }
    }
}
