// Section break page template

.section-break .reveal {
    .slides {
        $left-margin: 2%;
        $top-margin: 3%;
        $bg-height: 100% - (2 * $top-margin);
        $width: 100% - (2 * $left-margin);

        background:
            url(../images/SUSE/cover-slide-green-partial-bg.png)
                50% #{50%}         //  x/y positions
              / $width $bg-height  //  x/y sizes
                no-repeat;

        > section {
            padding: 0;
            height: 30%;
            position: absolute;
            top: 50%;
            text-align: right;

            h1, h2 {
                color: white;
            }

            h1 {
                font-size: 46pt;
            }

            h2 {
                font-size: 32pt;
                font-weight: normal;
            }

            code {
                color: $light-yellow !important;
            }
        }
    }

    @include no-slide-numbers;
}
