#RHEL-OSP-article {
    .article img {
        padding-right: 10px;
    }

    .instructions img {
        padding-top: 100px;
    }
}

#masakari-architecture {
    h2 {
        margin-bottom: 10px;
    }
}

#comparison {
    h2 {
        margin-bottom: 0.5em;
    }

    table {
        $dark-border:  4px solid $medium-dark-neutral;
        $med-border:   4px solid $medium-neutral;
        $light-border: 4px solid white;

        font-weight: bold;
        font-size: 0.9em;
        border: none;
        border-collapse: collapse;

        .criteria {
            width: 35%;
        }

        th, td {
            text-align: center;
            vertical-align: middle;
            border: $light-border;
        }

        th {
            border-top: none;
            border-bottom: $dark-border;
            background-color: $tint-neutral;
        }

        th.criterion-class, th.criteria {
            background-color: white;
        }

        th.criteria {
            border-right: $dark-border;
        }

        .criterion-class {
            max-width: 50px;
        }

        .criterion-class.policy {
            background-color: $medium-blue;
        }

        .criterion-class.resilience {
            background-color: $medium-teal;
        }

        .criterion-class.recovery {
            background-color: $medium-purple;
        }

        td.criterion-class div {
            color: white;
            font-size: 22pt;
            // Allow the text to stay centred even after rotating
            // inside a narrow width <td>
            margin: 0 -1000%;
            -ms-transform:     rotate(-90deg); /* IE 9 */
            -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
            transform:         rotate(-90deg);
        }

        td.criteria {
            border-right: $dark-border;
            border-top: $med-border;
            background-color: $tint-neutral;
            color: black;
        }

        tr:last-child {
            border-bottom-width: 0px;
        }

        td {
            color: white;
        }

        td.yes {
            background-color: $medium-green;
        }

        td.maybe {
            background-color: $bright-orange;
        }

        td.no {
            background-color: $bright-red;
        }
    }
}
