/*
highlight.js style for syntax highlighting using officially
sanctioned presentation slide-deck colours.
*/

.reveal .slides {

    .hljs {
        display: block;
        overflow-x: auto;
        background: $tint-neutral;
        color: $dark-neutral;
        -webkit-text-size-adjust: none;
    }

    .hljs-keyword,
    .hljs-tag,
    .css .hljs-class,
    .css .hljs-id,
    .lisp .hljs-title,
    .nginx .hljs-title,
    .hljs-request,
    .hljs-status,
    .lang-clojure .hljs-attribute {
        color: $medium-green;
    }

    .lang-django .hljs-template_tag,
    .lang-django .hljs-variable,
    .lang-django .hljs-filter .hljs-argument {
        color: $medium-blue;
    }

    .hljs-number,
    .hljs-date {
        color: $dark-green;
    }

    .lang-dos .hljs-envvar,
    .lang-dos .hljs-stream,
    .hljs-variable,
    .lang-apache .hljs-sqbracket,
    .hljs-name {
        color: $bright-blue;
    }

    .lang-dos .hljs-flow,
    .diff .hljs-change,
    .python .exception,
    .python .hljs-built_in,
    .hljs-literal,
    .tex .hljs-special {
        color: $medium-yellow;
    }

    .diff .hljs-chunk,
    .hljs-subst {
        color: $medium-neutral;
    }

    .lang-dos .hljs-keyword,
    .hljs-decorator,
    .hljs-title,
    .hljs-type,
    .diff .hljs-header,
    .lang-ruby .hljs-class .hljs-parent,
    .lang-apache .hljs-tag,
    .nginx .hljs-built_in,
    .tex .hljs-command,
    .hljs-prompt {
        color: $bright-orange;
        font-weight: bold !important;
    }

    .lang-dos .hljs-winutils,
    .lang-ruby .hljs-symbol,
    .lang-ruby .hljs-symbol .hljs-string,
    .lang-ruby .hljs-string {
        color: $bright-magenta;
    }

    .diff .hljs-deletion,
    .hljs-string,
    .hljs-tag .hljs-value,
    .hljs-preprocessor,
    .hljs-pragma,
    .hljs-built_in,
    .lang-smalltalk .hljs-class,
    .lang-smalltalk .hljs-localvars,
    .lang-smalltalk .hljs-array,
    .css .hljs-rule .hljs-value,
    .hljs-attr_selector,
    .hljs-pseudo,
    .lang-apache .hljs-cbracket,
    .tex .hljs-formula,
    .lang-coffeescript .hljs-attribute {
        color: $dark-teal;
    }

    .hljs-shebang,
    .diff .hljs-addition,
    .hljs-comment,
    .hljs-annotation,
    .hljs-pi,
    .hljs-doctype {
        color: $medium-neutral;
    }

    .lang-coffeescript .javascript,
    .javascript .xml,
    .tex .hljs-formula,
    .xml .javascript,
    .xml .vbscript,
    .xml .css,
    .xml .hljs-cdata {
        opacity: 0.5;
    }

    .hljs-constant {
        color: $dark-teal;
    }
}
