#evacuate-architecture {
        img {
            position: absolute;
        }

        img.arrow {
            width: 3%;
            top: 31.6%;
            left: 56%;
            margin: 0;
            -vendor-animation-duration: 3s;
        }
}

#public-health-warning {
    img {
        height: 70%;
        margin-left: 20%;
    }
}

.hurricane {
    .row {
        height: 40%;

        .text {
            margin-left: 80px;
            width: 45%;
            h3 {
                font-size: 1.4em;
            }
        }

        > div {
        //    height: inherit;
        }
    }

    img {
        display: block;
        width: 430px;
        margin: 0px;
        //height: 93%;
    }

    .before {
        img {
            //margin-bottom: 20px;
        }
    }
}

