#compute-failure {
    h1 {
        position: relative;
        top: -30px;
    }

    img {
        position: absolute;
    }

    img.arch {
        width: 70%;
        left: 7%;
        top: 10%
    }

    img.bang {
        height: 32%;
        left: 55%;
        top: 38%;
    }
}
