.reveal .slides {
    #guidelines {
        > p {
            font-size: 26pt;
        }

        > ul {
            font-size: 70%;
        }
    }

    .contact-info {
        position: absolute;
        top: 80%;
        font-size: 18pt;

        address {
            float: left;
            padding: 0 30px;
            margin:  0 30px;
            height: 110px;
            border-left: solid 1px grey;
        }
    }
}
